<ion-header  style = "background-color: #0D2149">
  <ion-navbar  style = "background-color: #0D2149">
    <ion-title  style = "background-color: #0D2149">{{producto.ad.subject}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding  style = "background-color: #F2F2F2">
    <ion-card  style = "background-color: #FF5400">
      <ion-slides pager>
        <ion-slide *ngFor="let img of imgs">
          <img src="https://img.segundamano.mx/medium/{{img.path}}">
        </ion-slide>
      </ion-slides>
    </ion-card>

    <ion-card  style = "background-color: #FF5400">
      <ion-item>
        {{producto.ad.subject}}
        <ion-icon name = "heart" item-end (click) = "addFavoritos(producto)"></ion-icon>
      </ion-item>
    <ion-card>
      <ion-item>
        <h1 *ngIf="producto.ad.hasOwnProperty('subject')">
          {{producto.ad.subject}}
        </h1>
      </ion-item>
      <ion-item>
        <h1>
          Precio:
        </h1>
        <h2 *ngIf="producto.ad.hasOwnProperty('list_price')">
          {{producto.ad.list_price.label}}
        </h2>
      </ion-item>
      <ion-item>
        <h1>
          Ubicación:
        </h1>
        <h2 *ngIf="producto.ad.hasOwnProperty('locations')">
          {{producto.ad.locations[0].locations[0].locations[0].label}}, {{producto.ad.locations[0].locations[0].label}}, {{producto.ad.locations[0].label}}
        </h2>
      </ion-item>
    </ion-card>
  </ion-card>

    <ion-card>
      <ion-card-header>
        Descripción:
      </ion-card-header>
      <ion-card-content>
        {{producto.ad.body}}
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="../assets/user.png">
        </ion-avatar>
        <h2 *ngIf="producto.ad.hasOwnProperty('user')">
          {{producto.ad.user.account.name}}
        </h2>
        <p *ngIf="producto.ad.hasOwnProperty('user')">
          {{producto.ad.user.account.since}}
        </p>
      </ion-item>
    </ion-card>


</ion-content>
